span.method_get {
  background: #e4775a;
  padding: 1px 8px;
  border-radius: 8px;
  color: #FFF;
}
span.method_post {
  background: #7a5ae4;
  padding: 1px 8px;
  border-radius: 8px;
  color: #FFF;
}
td:first-of-type {
  text-align: center;
}